<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
    <h3 mat-line>Camron</h3>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <a button mat-menu-item routerLink="/profile" (click)="drawer.toggle()">
          <mat-icon >settings</mat-icon>
          <span>Profile Settings</span>
        </a>
        <a button mat-menu-item (click)="auth.signOut()" (click)="drawer.toggle()">
            <mat-icon>power</mat-icon>
            <span>Logout</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.toggle()">
        <mat-icon matListIcon>home</mat-icon>
        <p mat-line>Home</p>
      </a>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Create</h3>
      <a mat-list-item routerLink="/addtrade" (click)="drawer.toggle()">
        <mat-icon matListIcon>add_circle_outline</mat-icon>
        <p mat-line>Add Trade</p>
      </a>
      <a mat-list-item routerLink="/managetrade" (click)="drawer.toggle()">
        <mat-icon matListIcon>list</mat-icon>
        <p mat-line>Manage Trade</p>
      </a>
      <a mat-list-item routerLink="/reports" (click)="drawer.toggle()">
          <mat-icon matListIcon>save_alt</mat-icon>
          <p mat-line>Generate Reports</p>
        </a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Manage</h3>
      <a mat-list-item routerLink="/dataqueries" (click)="drawer.toggle()">
          <mat-icon matListIcon>import_export</mat-icon>
          <p mat-line>Manage Data Queries</p>
        </a>
      <a mat-list-item routerLink="/setup" (click)="drawer.toggle()">
        <mat-icon matListIcon>build</mat-icon>
        <p mat-line>Project Setup</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-topbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Units in Place Excel Add-in</span>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
