.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 80%;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.spacer {
  flex: 1 1 auto;
}

@media (min-width: 600px) {
  .sidenav {
      width: 400px;
  }
}

