<div *ngIf="router.url == '/'">
  <mat-toolbar>
    <span>Home</span>
  </mat-toolbar>
</div>
<div *ngIf="router.url == '/addtrade'">
  <mat-toolbar>
    <span>Add Trade</span>
  </mat-toolbar>
</div>
<div *ngIf="router.url == '/managetrade'">
  <mat-toolbar>
    <span>Manage Trade</span>
  </mat-toolbar>
</div>
<div *ngIf="router.url == '/reports'">
  <mat-toolbar>
    <span>Generate Reports</span>
  </mat-toolbar>
</div>
<div *ngIf="router.url == '/dataqueries'">
  <mat-toolbar>
    <span>Manage Data Queries</span>
  </mat-toolbar>
</div>
<div *ngIf="router.url == '/build'">
  <mat-toolbar>
    <span>Project Setup</span>
  </mat-toolbar>
</div>
<div *ngIf="router.url == '/profile'">
  <mat-toolbar>
    <span>Profile Settings</span>
  </mat-toolbar>
</div>