@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-green, 900);
$custom-accent:  mat-palette($mat-light-blue, A200);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);